html, body {
    height: 100%;
    width: 100%;
}

#cursorGlyph {
    position: absolute;
    z-index: 1000;
    cursor: none;
}

.font-bold {
    font-family: 'MasterPortalFont Bold','Arial Narrow',Arial,sans-serif;
}
.font-arial {
    font-family: Arial,sans-serif;
}

label {
    font-weight: normal;
}

#map {
    position: relative;
}

.glyphicon-check, .glyphicon-unchecked, .glyphicon-download, .glyphicon-upload, .glyphicon-chevron-down, .glyphicon-plus-sign, .glyphicon-minus-sign, .glyphicon-refresh, .glyphicon-folder-close, .glyphicon-folder-open, .glyphicon-question-sign {
    cursor: pointer;
}

@media (max-width: 767px) {
    .btn-glyphicon, .glyphicon-plus-sign, .glyphicon-minus-sign, .glyphicon-info-sign, .glyphicon-check, .glyphicon-unchecked, .glyphicon-envelope, .glyphicon-book {
        font-size: 18px !important;
    }
    html, body {
        font-size: 16px;
    }
    #portalTitle {
        display:none;
    }
}

@media (min-height:200px) {
    #poibody {
        max-height:120px;
    }
}

@media (min-height:250px) {
    #poibody {
        max-height:200px;
    }
}

@media (min-height:300px) {
    #poibody {
        max-height:220px;
    }
}

@media (min-height:480px) {
    #poibody {
        max-height:400px;
    }
}

@media (min-height: 768px) {
    #poibody {
        max-height:700px;
    }
}

#poibody {
    overflow:auto;
}

/*bootstrap überschreiben*/
.list-group {
    margin-bottom: 0px !important;
}

.form-group:last-child {
    margin-bottom: 0px;
}

.cluster {
    font-size:25px;
    border-radius:30px!important;
    float:left;
    margin:10px;
}

.btn-lgv-grey {
    background-color:#E3E3E3;
    color: #000000;
}


/* For center anything in the unknown */
.centered-box-wrapper {
    text-align: center;
    white-space: nowrap;
}
.centered-box-wrapper:before {
    content: " ";
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    vertical-align: middle;
}
.centered-box-wrapper > .centered-box-content {
    display: inline-block;
    vertical-align: middle;
}
/* End "For center anything in the unknown" */


.blurry {
    filter: blur(3px);
}

/* Loader Overlay */
#loader {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgba(255,255,255,0.4);
    display:none;
    padding-bottom:100px;
    z-index:1000; /* z-index race yaaay! */
}
#loader.loader-is-initially-loading {
    background-color:rgba(255,255,255,0);
}
#loader.loader-is-loading {
    display:block;
}

#generic-masterportal-logo {
    background-color:rgba(255,255,255,0.8);
    opacity:1;
    padding: 20px 20px 10px 20px;
    position: absolute;
    text-align:center;
    transition:opacity 0.35s 3s;
    width:170px;
}
#generic-masterportal-logo.initial-fadeout-animation {
    opacity:0;
}
#generic-masterportal-logo img {
    width:100%;
}
@media (max-width: 1023px) {
    #loader-spinner-itself.default {
        border: 5px solid #AAAAAA;
    }
    #generic-masterportal-logo {
        bottom: 15%;
        left:50%;
        margin-left:-85px;
        border-radius: 14px;
    }    
}
@media (min-width: 1024px) {
    #loader-spinner-itself.default {
        border: 8px solid #AAAAAA;
    }
    #generic-masterportal-logo {
        bottom: 0;
        right: 0;
        border-radius: 14px 0 0 0;
    }    
}
#loader-spinner-itself.default {
    animation: loaderSpinAnimation 1s 0.1s ease-in-out infinite both;
    border-radius: 50%;
    border-top-color: #777777;
    content: "";
    transition:border-color 0.25s;
}
#loader-spinner-itself {
    display:inline-block;
    height: 5vw;
    max-height:70px;
    max-width:70px;
    min-height:40px;
    min-width:40px;
    transition:opacity 0.35s;
    opacity:1;
    width: 5vw;
}
#loader-spinner-itself.default:hover {
    border-top-color: #E10019;
}
#loader-spinner-itself.initial-fadeout-animation {
    opacity:0;
}

@keyframes loaderSpinAnimation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
#portal-logo-box {
    opacity:1;
    transition:opacity 0.35s 3s;
    background-color:rgba(255,255,255,0.8);
    font-family: "MasterPortalFont Bold", "Arial Narrow", Arial, sans-serif;
    font-size:36px;
    margin-bottom:24px;
    padding:15px 40px 30px 40px;
    border-radius:14px;
    text-align:center;
}
@media (max-width: 767px) {
    #portal-logo-box {
        padding:15px 10px 30px 10px;
    }
}
#portal-logo-box.initial-fadeout-animation {
    opacity:0;
}
#portal-logo-main-title {
    margin:10px 0 8px 0;    
}
#portal-logo-sub-title {
    font-size:0.75em;
    margin:8px 0 0 0;    
}
/* End "Loader Overlay" */


  /* deprecated  */
  .loading {
    position: absolute;
    top: 30%;
    left: 32.5%;
    z-index: 9999;
    text-align: center;
    width: 35%;
}

.loading div {
    font-size:5vmin;
    line-height: 130%;
    margin-top: 5%;
}

/* we need to increase the color of placeholder because of accessibilty reasons (contrast) */
::placeholder {
    color:#767676 !important;
    opacity: 1 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #767676 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #767676 !important;
}
.bs-placeholder, 
.bs-placeholder:hover, 
.bs-placeholder:focus, 
.bs-placeholder:active {
    color: #767676 !important;
    opacity: 1 !important;
}


/* only for firefox */
@-moz-document url-prefix() { 
    .form-group-sm .form-control{
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
      input[type=number]{
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
}


