<!DOCTYPE html>
<div class="compassContainer">
    <div class="compass">
        <div class="compass-pointer compass-pointer-north" id="north-pointer" title="<%= pointerNorthText %>"></div>
        <div class="compass-pointer compass-pointer-south" id="south-pointer" title="<%= pointerSouthText %>"></div>
        <div class="compass-pointer compass-pointer-east" id="east-pointer" title="<%= pointerEastText %>"></div>
        <div class="compass-pointer compass-pointer-west" id="west-pointer" title="<%= pointerWestText %>"></div>
        <div id="compass_north" class="compass-north 3d-control-btn" tabindex="0" title="<%= moveNorthText %>"></div>
        <div id="compass_south" class="compass-south 3d-control-btn" tabindex="0" title="<%= moveSouthText %>"></div>
        <div class="compass-center"></div>
        <div id="compass_west" class="compass-west 3d-control-btn" tabindex="0" title="<%= moveWestText %>"></div>
        <div id="compass_east" class="compass-east 3d-control-btn" tabindex="0" title="<%= moveEastText %>"></div>
    </div>
</div>
<!-- Template Tilt, Zoom, Locator -->
<div class="control-box-container">
    <div class="btn-group-wrap pull-right">
        <span id="tilt-down" class="control-box-btn 3d-control-btn tilt-down" title="<%= tiltDownText %>"></span>
        <span id="tilt-up" class="control-box-btn 3d-control-btn tilt-up" title="<%= tiltResetText %>" ></span>
        <span id="zoom-in" class="control-box-btn 3d-control-btn glyphicon glyphicon-plus" title="<%= zoomInText %>"></span>
        <span id="zoom-out" class="control-box-btn 3d-control-btn glyphicon glyphicon-minus" title="<%= zoomOutText %>"></span>
    </div>
</div>
