@import "../../../css/mixins.less";

@color_1: #fff;
@font_family_1: "MasterPortalFont Bold","Arial Narrow",Arial,sans-serif;
@background_color_1: rgba(0, 0, 0,.5);

/*SimpleView*/
.filter {
    .glyphicon-remove {
        padding: 5px;
        &:focus {
            .primary_action_focus();
        }
        &:hover {
            .primary_action_hover();
        }
    }
    .header {
        width: 100%;
        border-bottom: 1px solid rgb(229,229,229);
        padding: 10px;
    }
    .simple-views-container {
        .btn-default {
            &:focus {
                outline: none;
            }
        }
        padding: 8px 15px;
        width: 100%;
        border-bottom: 1px solid rgb(229, 229, 229);
    }
    .tool-name {
        padding-left: 15px;
        font-family: @font_family_1;
        font-size: 16px;
    }
    .simple-view {
        .btn-default {
            margin: 4px;
            &:focus {
                .primary_action_focus();
            }  
            &:hover {
                .primary_action_hover();
            }
        }
    }
    .btn-select {
        color: @color_1;
        background-color: rgba(0, 0, 0, 0.54);
        .name {
            &:hover {
                font-weight: normal;
            }
        }
    }
}
.simple-view {
    display: inline-block;
}
@media (min-width: 768px) {
    .filter {
        .simple-views-container {
            button {
                padding: 5px 10px;
                font-size: 12px;
                line-height: 1.5;
            }
        }
        .header {
            padding: 10px;
        }
    }
}
